<section class="cart py-10">
    <% if(session.cart) { %>
    <div class="order container mx-auto px-40">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img src="/images/cart-black.png" alt="cart-black">
            <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
        </div>
        <div class="salad-list">
            <% for(let salad of Object.values(session.cart.items)) { %>
            <div class="flex items-center my-8">
                <img class="w-24" src="/images/<%= salad.item.image %>" alt="salad">
                <div class="flex-1 ml-4">
                    <h1><%= salad.item.name %></h1>
                    <span class="italic"><%= salad.item.yield %></span>
                </div>
                <span class="salad-qty flex-1 text-right"><%= salad.qty %> Pcs</span>
                <span class="flex-1 text-right">
                    <button class="modify-btns add-item w-6" data-salad="<%= JSON.stringify(salad) %>"><img
                            src="/images/plus-circle.png"></button>
                    <% if(salad.qty > 1) { %>
                    <button class="modify-btns minus-item w-6" data-salad="<%= JSON.stringify(salad) %>"><img
                            src="/images/minus-circle.png"></button>
                    <% } else { %>
                    <button class="modify-btns remove-item w-6" data-salad="<%= JSON.stringify(salad) %>"><img
                            src="/images/remove-black.png"></button>
                    <% } %>
                </span>
                <span
                    class="salad-price flex-1 text-right font-bold text-lg">₹<%= salad.item.price * salad.qty %></span>
            </div>
            <% } %>
        </div>
        <hr>
        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold">Total Amount: </span>
                <span class="amount text-2xl font-bold ml-2">₹<%= session.cart.totalPrice %></span>
            </div>
            <% if (user) { %>
            <div>
                <form action="/orders" method="POST" class="mt-10">
                    <% if(messages.error) { %>
                    <div class="text-red-500 text-sm"><%= messages.error%></div>
                    <% } %>
                    <input name="phone" value="<%= messages.phone %>" class="border border-gray-400 p-2 w-1/2 mb-4"
                        type="text" placeholder="Phone Number">
                    <input name="address" value="<%= messages.address %>" class="border border-gray-400 p-2 w-1/2"
                        type="text" placeholder="Address">
                    <div>
                        <button
                            class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-6 rounded focus:outline-none focus:shadow-outline"
                            type="submit">Order Now</button>
                    </div>
                </form>
            </div>
            <% } else { %>
            <a href="/login"
                class="inline-block cursor-pointer btn-primary px-6 py-2 rounded-full text-white font-bold mt-6 rounded focus:outline-none focus:shadow-outline">Login
                to Continue</a>
            <% } %>
        </div>
    </div>
    <% } else { %>
    <div class="empty-cart py-10">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2">Cart Empty</h1>
            <p class="text-gray-500 text-lg mb-12">You do not have any Salad Orders yet.<br>
                To order a Salad, go to the Main page.
            </p>
            <img class="w-2/5 mx-auto" src="/images/empty-cart.png" alt="empty-cart">
            <a href="/" class="inline-block btn-primary px-6 py-2 rounded-full text-white font-bold mt-12">Go Back</a>
        </div>
    </div>
    <% } %>
</section>